.productDiv {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 430px; }
  .productDiv .photoDiv .photos {
    object-fit: cover;
    width: 100%;
    height: 200px; }
  .productDiv .infoDiv {
    align-content: center; }
    .productDiv .infoDiv .title {
      font-size: 1.9em; }
    .productDiv .infoDiv .description {
      font-size: 0.9em;
      padding: 4px; }
    .productDiv .infoDiv .price {
      font-size: 1.4em;
      color: #373737;
      font-weight: bold;
      text-align: right; }
  .productDiv .buttonDiv {
    justify-content: space-around;
    bottom: 0px;
    padding: 0;
    margin: 0; }
    .productDiv .buttonDiv button {
      background-color: lightgrey;
      color: black;
      border-radius: 4px; }

#myModal {
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 50%;
  height: 100%;
  overflow: auto; }
